<EditForm Model="@game" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled = "@Disabled">
        <div class="form-group">
            <label>Game Name: </label>
            <div>
                <InputText @bind-Value="@game.Name" class="form-control" />
                <ValidationMessage For="@(() => game.Name)" />
            </div>
        </div>

        <div class="form-group">
            <label>Game Description: </label>
            <div>
                <InputTextArea @bind-Value="@game.Description" class="form-control" style="height: 300px;" />
                <ValidationMessage For="@(() => game.Description)" />
            </div>
        </div>
    </fieldset>
    <br />
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="games/view"/>
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Game? game { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
